@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

:root {
    --header-height: 3rem;
    --font-semi: 600;

    /* User Requested Colors */
    --color-primary-dark: #563232 !important;
    /* Warna utama paling gelap */
    --color-primary: #84240c !important;
    /* Warna utama */
    --color-accent: #da6d42 !important;
    /* Warna penonjol (aksen) */
    --color-highlight: #fec18b !important;
    /* Warna sorotan atau elemen aktif */
    --color-background: #e7cfb3 !important;
    /* Warna latar belakang */
    --color-neutral: #f1f1f1 !important;
    /* Warna netral */

    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    /* Increased from 0.938rem for better readability */

    --mb1: 0.5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: 2.5rem;
    --mb6: 3rem;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* margin: var(--header-height) 0 0 0; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--color-primary-dark);
    background-color: var(--color-background);
    /* Changed from neutral to background */
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.d-flex {
    display: flex !important;
}

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    /* width: calc(100% - 2rem); */
    margin-left: var(--mb2);
    margin-right: var(--mb2);
    max-width: 80rem;
}

/* === NAVBAR === */
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    padding: 0 var(--mb3) !important;
    margin: 0 auto;
    position: sticky;
    background-color: #ffffff;
}

.nav.bd-grid {
    width: calc(100% - 2rem);
}

.nav-item {
    margin-bottom: var(--mb4);
}

.nav-link {
    position: relative;
    color: var(--color-neutral);
}

.nav-link:hover {
    position: relative;
}

.nav-link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--color-primary);
}

.nav-logo {
    color: var(--color-primary-dark);
}

.nav-logo img {
    width: 150px;
}

.nav-toggle {
    color: var(--color-primary-dark);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-link.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--color-primary);
}

.card {
    padding: var(--mb3) !important;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.1);
}

.card-icon {
    width: var(--mb6);
    height: var(--mb6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--mb1);
    margin-bottom: var(--mb2);
}

.card-icon i {
    padding: 3px;
    font-size: var(--mb3);
    width: var(--mb4);
    height: var(--mb4);
}

.bg-blue {
    background-color: rgb(219 234 254 / 1);
}

.bg-green {
    background-color: rgb(220 252 231 / 1);
}

.bg-purple {
    background-color: rgb(243 232 255 / 1);
}

.bg-orange {
    background-color: rgb(255 237 213 / 1);
}

.text-blue {
    color: rgb(37 99 235 / 1);
}

.text-green {
    color: rgb(22 163 74 / 1);
}

.text-purple {
    color: rgb(147 51 234 / 1);
}

.text-orange {
    color: rgb(234 88 12 / 1);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex !important;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    /* margin-right: calc(var(--bs-gutter-x) * -.5); */
    /* margin-left: calc(var(--bs-gutter-x) * -.5); */
}

.row .col {
    flex: 0 0 auto;
    padding: 0 12px;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666666%;
}

.col-12 {
    width: 100%;
}

/* ukuran Mobile */
@media screen and (max-width: 768px) {
    .col-mobile-1 {
        width: 8.33333333%;
    }

    .col-mobile-2 {
        width: 16.66666666%;
    }

    .col-mobile-3 {
        width: 25%;
    }

    .col-mobile-4 {
        width: 33.33333333%;
    }

    .col-mobile-5 {
        width: 41.66666666%;
    }

    .col-mobile-6 {
        width: 50%;
    }

    .col-mobile-7 {
        width: 58.33333333%;
    }

    .col-mobile-8 {
        width: 66.66666666%;
    }

    .col-mobile-9 {
        width: 75%;
    }

    .col-mobile-10 {
        width: 83.33333333%;
    }

    .col-mobile-11 {
        width: 91.66666666%;
    }

    .col-mobile-12 {
        width: 100%;
    }

    /* .bd-grid {
        padding: var(--mb6) var(--mb3);
    } */

    .nav {
        padding: 0 !important;
    }

    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 50%;
        height: 100%;
        padding: 2rem;
        background-color: var(--color-primary-dark);
        transition: 0.5s;
    }

    .show {
        right: 0;
    }

    .row .col {
        padding: 0;
    }
}

/* ukuran Tablet */
@media screen and (min-width: 769px) {
    .col-tablet-1 {
        width: 8.33333333%;
    }

    .col-tablet-2 {
        width: 16.66666666%;
    }

    .col-tablet-3 {
        width: 25%;
    }

    .col-tablet-4 {
        width: 33.33333333%;
    }

    .col-tablet-5 {
        width: 41.66666666%;
    }

    .col-tablet-6 {
        width: 50%;
    }

    .col-tablet-7 {
        width: 58.33333333%;
    }

    .col-tablet-8 {
        width: 66.66666666%;
    }

    .col-tablet-9 {
        width: 75%;
    }

    .col-tablet-10 {
        width: 83.33333333%;
    }

    .col-tablet-11 {
        width: 91.66666666%;
    }

    .col-tablet-12 {
        width: 100%;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: var(--mb6);
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-link {
        color: var(--color-primary-dark);
    }
}

/* ukuran Laptop/Desktop */
@media screen and (min-width: 1024px) {
    .col-desktop-1 {
        width: 8.33333333%;
    }

    .col-desktop-2 {
        width: 16.66666666%;
    }

    .col-desktop-3 {
        width: 25%;
    }

    .col-desktop-4 {
        width: 33.33333333%;
    }

    .col-desktop-5 {
        width: 41.66666666%;
    }

    .col-desktop-6 {
        width: 50%;
    }

    .col-desktop-7 {
        width: 58.33333333%;
    }

    .col-desktop-8 {
        width: 66.66666666%;
    }

    .col-desktop-9 {
        width: 75%;
    }

    .col-desktop-10 {
        width: 83.33333333%;
    }

    .col-desktop-11 {
        width: 91.66666666%;
    }

    .col-desktop-12 {
        width: 100%;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}